/* Utilities */

.marginLeftAuto {
	margin-left: auto;
}

/* Universals */

body {
	padding: 53px 0px 56px 0px;
	overflow-y: overlay;
	/* background-color: #f9f9f9 !important; */
	/* height: 100vh !important; */
	/* height: 100%; */
	/* width: 100%; */
	/* position: absolute; */
}

#root {
	/* height: 100vh !important; */
	/* padding: 62px 0px 56px 0px !important; */
}

.topbarTitle {
	font-family: 'Satisfy', cursive;
	font-size: 1.5rem !important;
	font-weight: bold;
}

.topbarLink {
	border-radius: 5px;
	padding: 0.35rem !important;
}

.topbarLink:hover {
	background-color: #eaeaea;
}

.navbarLink {
	border-radius: 5px;
}

.navbarLink:hover {
	background-color: #eaeaea;
}

.navbarLinkActive {
	border-radius: 5px;
	color: black !important;
}

.navbarLinkActive:hover {
	background-color: #eaeaea;
}

.topbar {
	border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
	/* padding: 5px 0px !important; */
}

.bottombar {
	border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
	padding: 0px !important;
}

.bottomNavDiv {
	padding: 0.25rem 0;
	/* box-sizing: border-box;
	-webkit-box-sizing: border-box; */
	/* border-top: 2px solid black; */
}

.bottomNavDivActive {
	border-top: 2px solid black;
}

.tabLink {
	color: #495057 !important;
}

.logoLink {
	padding: 0px !important;
}

/* Pages */

/* Forms */

.formHeader {
	/* text-align: center; */
	font-weight: bold;
	font-size: 1.25rem;
	padding: 10px 0px;
}

.formBorder {
	margin-top: 20px !important;
	padding-bottom: 10px !important;
	border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
	border-radius: 5px;
}

.resetButton {
	margin-left: 10px;
}

.googleCol {
	display: flex;
	justify-content: right;
}

.authButton {
	/* margin-left: auto !important; */
	font-size: .875rem !important;
}

.googleButton:hover {
	cursor: pointer;
}

/* Profile */

.profileHeader {
	padding: 10px 0px;
	border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}

.profileImageCol {
	/* padding-left: 0px !important; */
	padding: 10px !important;
}

.profileImage {
	width: 100%;
	height: 175px;
}

.profileHeaderText {
	position: relative !important;
	/* padding: 10px 0px; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.profileHeaderText div {
	display: flex;
	flex-direction: column;
	height: 33%;
}

.profileHeaderMeta {
	margin: auto 0;
}

.profileHeaderName {
	font-weight: bold;
	font-size: 1.25rem;
	margin: auto 0;
}

.profileHeaderEmail {
	font-size: smaller;
	color: grey;
}

/* TODO: make this reorient instead of hiding */
/* @media (max-width: 1200px) {
	.profileHeaderName {
		line-height: 1rem;
	}
} */

.cardImage {
	width: 100%;
	padding: 5px 5px;
	/* height: 100%; */
	height: 150px;
	/* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
	transition-property: box-shadow;
	transition-duration: 0.2s;
}

@media (min-width: 900px) {
	.cardImage {
		height: 250px;
	}
}

.cardImage:hover {
	box-shadow: none;
}

.cardTitleText {
	font-size: 1rem !important;
	font-weight: bold !important;
	margin-bottom: 0px !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Explore */

.exploreContainer {
	margin-top: 10px !important;
}

/* Post View */

.postHeader {
	padding: 10px 00px;
	border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}

.postItemCard {
	/* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
	border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
	transition-property: box-shadow;
	transition-duration: 0.2s;
}

.postItemCard:hover {
	box-shadow: none;
}

.postItemRow {
	padding: 0px 2.5px !important;
}

.postItemCol {
	padding: 2.5px 2.5px !important;
	cursor: pointer !important;
}

.postItemCol:hover {
	/* cursor: pointer; */
}

.postItemBody {
	padding: 0px 5px 5px !important;
}

.postImage {
	width: 100%;
	height: 150px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media (min-width: 900px) {
	.postImage {
		height: 250px;
	}
}

.postCardCol {
	position: relative !important;
	padding-left: 10px !important;
}

.postCard {
	max-height: 150px;
	overflow-y: overlay;
	border: none !important;
	white-space: pre-wrap;
}

@media (min-width: 900px) {
	.postCard {
		max-height: 250px;
	}
}

/* .postCardHeader {
	display: flex;
	justify-content: space-between;
} */

.postCardHeader {
	font-weight: bold !important;
	margin-bottom: 5px !important;
}

.postCardTitle {
	font-weight: bold !important;
}

.postCardHeaderLink {
	width: 33%;
	border-radius: 5px;
	text-align: end;
	font-size: 1rem !important;
	color: black;
	text-decoration: none;
}

.postCardHeaderLink span{
	font-size: 1.1rem !important;
}

.postCardHeaderLink:hover {
	color: grey;
}

.editButton {
	position: absolute !important;
	top: 0;
	right: calc(var(--bs-gutter-x) * 0.5);
}

.postDeleteButton {
	margin-right: auto !important;
}

.socialColumn {
	padding: 10px 0px;
	display: flex;
	flex-direction: column;
}

.socialColumnTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.socialColumnEmbedTitle {
	font-weight: bold !important;
}

.socialCardBody {
	padding: 0px !important;
}

.socialCardBody Button {
	width: 100% !important;
}

.socialCardContainer {
	margin-top: 10px;
}

.previewFrame {
	/* border: 1px solid rgba(var(--b6a, 219, 219, 219), 1); */
	padding: 5px;
}
