body {
	background-color: #f2f4f8 !important;
	height: 100vh;
}

.topbarTitle {
	font-family: 'Satisfy', cursive;
	font-size: 1.5rem !important;
	font-weight: bold;
}

.marginLeftAuto {
	margin-left: auto;
}

.heighter {
	padding: 62px 0px 56px 0px;
}

.navbarLinkActive {
	color: black !important;
}
